@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

:root {
    --very-dark-color: #0C2D48;
    --dark-color: #145DA0;
    --medium-color: #2E8BC0;
    --light-color: #B1D4E0; 
}

* {
  transition: all 0.3s;
}

body {
  background: var(--very-dark-color);
  background: radial-gradient(
    circle,
    var(--medium-color) 0%,
    var(--very-dark-color) 100%
  );
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Kalam", cursive;
}

/* Alinea todos los elementos de la pagina en una sola columna */
.contenedor {
  width: 98vw;
  height: 97vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.encabezado {
  position: relative;
  background: #fff;
  min-width: 300px;
  width: 90%;
  max-width: 800px;
  padding: 10px;
  margin: 30px;
  box-shadow: 5px 5px 20px #0000008c;
}

.categoria {
  opacity: 0.3;
  text-align: left;
  padding-left: 10px;
  font-size: 1rem;
}

.pregunta {
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 700;
}

.imagen {
  object-fit: cover;
  height: 0px;
  width: 0px;
}

.btn {
  background: #fff;
  width: 60%;
  max-width: 550px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 5px 0px 10px #0000008c;
}

.btn:hover {
  transform: translateX(1rem);
}

.numero {
  position: absolute;
  opacity: 0.3;
  top: 0;
  right: 10px;
  font-weight: 700;
  padding: 10px;
  font-size: 1rem;
}

.puntaje {
  padding: 10px;
  color: #fff;
}
